.app__pokemon {
  padding: 20px;
}

.pokemon__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 200px;
  justify-content: center;

  @media all and (min-width: 550px) {
    grid-template-columns: 200px 200px;
  }

  @media all and (min-width: 800px) {
    grid-template-columns: 200px 200px 200px;
  }

  @media all and (min-width: 1024px) {
    grid-template-columns: 200px 200px 200px 200px;
  }
}
