.triangle {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-right: 60px solid #000;
  position: fixed;
  z-index: 1;
  top: -52px;
}

.triangle-left {
  transform: rotate(45deg);
  left: -12px;
}

.triangle-right {
  transform: rotate(135deg);  
  right: -12px;
}